<section class="section background">
  <div class="section__title">About me</div>
  <div class="section__content">
    <p>
      I'm a software consultant and trainer, who's working as a full-stack  developer since 2014. I have worked on everything from small websites to huge web applications. I have built some amazing things for the web with some awesome and highly efficient people.
    </p>

    <p>
      As a software engineer, I enjoy implementing complex ideas in a simple way. My programming style emphasizes on cleanliness and maintainability. My goal is to always build applications that are scalable
      and efficient.
    </p>

    <p>
      When I'm not coding the next great thing, I'm probably making <a class="underline-link" href="https://soundcloud.com/iamrish">music</a> or learning new stuff.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
