<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project zensurvey">
      <figure class="project__pic">
        <a href="https://zensurvey.com/" target="_blank">
          <img class="rounded" src="{{site.baseurl}}/img/featured/zensurvey/zensurvey.jpeg" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://zensurvey.com/" target="_blank">Zensurvey</a>
        </div>
        <p>ZenSurvey helps companies measure employee happiness and collect honest feedback via weekly pulse surveys. It takes only 5 minutes to set up and is forever free.</p>
        <p>Made with laravel.</p>
      </figcaption>
    </div>

    <div class="project snippeteer">
        <figure class="project__pic">
          <a href="https://github.com/imRish/snippeteer" target="_blank">
            <img class="rounded" src="{{site.baseurl}}/img/featured/snippeteer/snippeteer.png" alt="">
          </a>
        </figure>
        <figcaption class="project__caption">
          <div class="project__name">
            <a href="https://github.com/imRish/snippeteer" target="_blank">Snippeteer</a>
          </div>
          <p>Snippeteer is a productivity tool that rescues you from retyping. Just store the snippet using keyboard shortcut to search and paste them everywhere. Snippeteer is a desktop application available on Windows and Mac.</p>
          <p>Made with Electron.</p>
        </figcaption>
      </div>

      <div class="project kiosk">
          <figure class="project__pic">
            <a href="https://galaxyprojects.nl/kiosk/" target="_blank">
              <img class="rounded" src="{{site.baseurl}}/img/featured/kiosk/kiosk.png" alt="">
            </a>
          </figure>
          <figcaption class="project__caption">
            <div class="project__name">
              <a href="https://galaxyprojects.nl/kiosk/" target="_blank">Self-Order KIOSK</a>
            </div>
            <p>A tablet-based self-ordering kiosk for the restaurant market. This prototype allows the customers to select and order items from the restaurant menu.
            </p>
            <p>Made with Vue.</p>
          </figcaption>
        </div>

  </div>
</section>
